.container {
  position: fixed;
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 80%;
  padding-top: 50px;
  padding-left: 15px;
  padding-right: 15px;
  box-shadow: 0px 0px 15px 2px #b4afaf;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  padding: 30px;
}

.filtersC {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.subtext {
  color: #b4afaf;
  font-size: 20%;
}
.name {
  font-weight: bold;
  font-size: 20%;
}

.maincontent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text {
  margin-right: 5%;
  font-size: 10px;
}

/*Alinear input con labels*/
div.settings {
  display: grid;
  grid-template-columns: max-content max-content;
  grid-gap: 30px;
  margin-top: 25px;
}
div.settings label {
  text-align: right;
}
div.settings label:after {
  content: ":";
}

.input {
  background: transparent;
  border: none;
  border-bottom: 1px solid #000000;
  outline: none;
  color: #858181;
  border-color: #d8d2d2;
  border-width: 2px;
}

.settings label {
  color: #858181;
}

.buttons {
  margin-top: 70px;
  display: flex;
  flex-direction: row;
}

.cancel {
  border-radius: 8px;
  border: 20px;
  font-weight: bold;
  width: 100px;
  height: 50px;
  color: rgb(201, 194, 194);
  background-color: #ffffff;
  border-color: #d8d2d2;
  border-width: 3px;
  border-style: solid;
}

.filter {
  border-radius: 8px;
  border: 20px;
  background: -webkit-linear-gradient(
    45deg,
    #46c474 5%,
    #45d581 20%,
    #1198e1 91%
  );
  color: #ffffff;

  font-weight: bold;
  width: 100px;
  height: 50px;

  margin-left: 40px;
}

.filter:hover {
  border-radius: 8px;
  border: 20px;
  background: -webkit-linear-gradient(
    100deg,
    #46c474 5%,
    #45d581 20%,
    #1198e1 91%
  );
  color: #ffffff;

  font-weight: bold;

  width: 100px;
  height: 50px;
}

.cancel:hover {
  border-color: #a5a3a3;
}
.filtersT {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 0;
  margin-top: 25px;
}
.filtersT i {
  font-size: 35px;
  margin-left: 15px;
}
.filtersT h1 {
  font-weight: bold;
}

.selectC {
  background-color: #ffffff;
  color: #858181;
  border-color: #d8d2d2;
  border-width: 2px;
  border-style: solid;
  border-radius: 10px;
  outline: none;
}

.column-1 {
  width: 35%;
}

.column-2 {
  width: 65%;
}

.column-2 p{
  font-size: 12.5px;
}

.seeDet {
  display: flex;
  justify-content: end;
  align-items: center;
  font-size: 20px;
  font-weight: 700;
  color: rgb(0, 162, 255);
  margin-right: 20px;
  border: none;
  background: inherit;
}

.floor{
  display: block;
  justify-content: end;
  margin-top: 20px;
  z-index: 1;
  width: 762px;
}

#cardsContainer {
  display: block;
  flex-direction: column;
  min-height: 620px;
  max-height: 620px;
  max-width: 700px;
  min-width: 600px;
  overflow-y: auto;
  overflow-x: hidden;
  margin-top: 0;
  padding-left: 40px;
  padding-top: 20px;
  padding-right: 40px;
  padding-bottom: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.cardSelStyle {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
  border-radius: 20px;
  box-shadow: 0px 0px 15px 2px #dadada;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 1;
  width: 200px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.cardSelStyle .icons {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 10rem 0rem 0rem;
  width: 0rem;
  height: 0rem;
}

.cardSelStyle .icons i {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
}

.cardSelStyle .icons .icon-default {
  transition: opacity 0.3s, transform 0.3s;
}

.cardSelStyle .icons .icon-hover {
  transition: opacity 0.3s, transform 0.3s;
  transform: rotate(-180deg) scale(0.5);
  opacity: 0;
}

.cardSelStyle:hover {
  transform: scale(1.05);
  box-shadow: 20px 15px rgba(0, 0, 0, 0.15);
}

.cardSelStyle:hover .icon-hover {
  transform: rotate(0deg) scale(1);
  opacity: 1;
}

.cardSelStyle:hover .icon-default {
  transform: rotate(180deg) scale(0.5);
  opacity: 0;
}

/* Scrollbar style */

/* width */

::-webkit-scrollbar {
  width: 5px;
}

/* Track */

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 5px;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* End scrollbar style */

.box-shadow {
  box-shadow: 0px 0px 15px 2px #dadada;
}

/* Popover */

details[data-popover] {
  position: relative;
  display: flex;
  justify-content: end;
  z-index: 3;
}
details[data-popover] > summary:focus {
  outline: none;
}
details[data-popover] > summary::-webkit-details-marker {
  display: none;
}
details[data-popover] > summary {
  list-style: none;
}
details[data-popover] > summary + * {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 300%;
  border: solid 1px teal;
  border-radius: 20px;
  margin-top: 10px;
  padding-left: 0px;
  padding-top: 20px;
  background: rgb(255, 255, 255);
  border: none;
}

details[data-popover] .row {
  display: flex;
  justify-content: center;
  align-items: center;
}

details[data-popover] .column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 40%;
}

details[data-popover] .column p {
  color: rgb(179, 179, 179);
  font-weight: 500;
}

details[data-popover] .column h5 {
  color: rgb(153, 153, 153);
  font-weight: 700;
  margin-bottom: 0px;
  margin-top: 10px;
}

details[data-popover] .column2 {
  display: flex;
  justify-content: space-evenly;
  width: 70%;
}

details[data-popover] .column2 a {
  margin-bottom: 10px;
  width: 90px;
  padding: 0%;
}

details[data-popover] > * + * {
  /* hide detail elements that would ruin the popover */
  display: none;
}
details[data-popover="up"] > summary + * {
  bottom: calc(0.5rem + 100%);
  right: 50%;
  transform: translateX(50%);
}
details[data-popover="down"] > summary + * {
  top: calc(0.5rem + 100%);
  right: 50%;
  transform: translateX(50%);
}
details[data-popover="left"] > summary + * {
  right: calc(1rem + 100%);
  bottom: 50%;
  transform: translateY(50%);
}
details[data-popover="right"] > summary + * {
  left: calc(3rem + 100%);
  bottom: 50%;
  transform: translateY(50%);
}

/* Buttons inside popover */

.detailDelete {
  border-width: 5px;
  border-color: rgb(192, 53, 53);
  color: rgb(192, 53, 53);
  font-weight: bold;
  font-weight: 700;
  cursor: pointer;
}

.detailDelete:hover {
  color: rgb(255, 0, 0);
  border-color: red;
}

.detailBan {
  border-width: 5px;
  border-color: rgb(216, 152, 56);
  color: rgb(216, 152, 56);
  font-weight: bold;
  font-weight: 700;
  cursor: pointer;
}

.detailBan:hover {
  color: rgb(255, 196, 0);
  border-color: rgb(255, 196, 0);
}
