.black{
    color:black;
}

.float-right{
    float: right;
}

.column{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.izq{
    display: flex;
    align-items: center;
}