.inputContainer{ 
    background-color: rgb(255, 255, 255);
    width: 70%;
    height: 80%;
    margin-left: 270px;
    padding-top: 50px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    box-shadow: 0px 0px 15px 2px #b4afaf;
    margin-bottom: 5px;
    margin-right: 5px;
    border-radius:10px;  
      
}
.inp{
display: flex;
flex-direction: column;

}

.createBtn{
    
    border-radius: 8px;
    border: 20px;
    background: -webkit-linear-gradient(
        45deg,
        #46c474 5%,
        #45d581 20%,
        #1198e1 91%
        
      );
      color: #ffffff;
    
      font-weight: bold;

      width: 100px;
      height: 50px;

}

.cancelBtn{

    margin-top: 30px;
    border-radius: 8px;
    border: 20px;
    font-weight: bold;
    width: 100px;
    height: 50px;
    color: rgb(201, 194, 194);
    background-color: #ffffff;
    border-color: #d8d2d2;
    border-width: 3px;
    border-style: solid;
}