.container{

    position: fixed;
    background-color: rgb(255, 255, 255);
    width: 70%;
    height: 80%;
    box-shadow: 0px 0px 15px 2px #b4afaf;
    border-radius:10px;  
    display: flex;
    flex-direction: row;
    padding: 20px; 
   
}

.cardsC{
    
    
    width: 40%;
    height: 100%;
    overflow-y: scroll;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}
.filtersC{

  display:flex;
  flex-direction: column;
   width: 60%;
   background-color: rgb(255, 255, 255);
   margin-right: 30px;
   align-items: center;
   
}

.staffview{

display: flex;
flex-direction: row;
align-items: center;
column-gap: 40px;
 background-color: #1198e1;
 width: 80%;
 margin:10px;
 padding: 20px;
 min-height: 20%;
 background-color: rgb(255, 255, 255);
 box-shadow: 0px 0px 15px 2px #dadada;
 -moz-transition: all 0.3s ease;
 transition: all 0.3s ease;
 cursor: pointer;
 border-radius: 20px;
    
}

.staffview:Hover{

    transform: scale(1.1);
    box-shadow: 20px 15px rgba(0, 0, 0, 0.15);
}

.name{
  font-weight: bold;
}
.text{

  color: #858181;

}
.label{
  margin-right: 3px;
}

.staffview .cardelement .dicon {

    
  font-size: 50px;
  
  color:rgb(78, 78, 78); 
  -webkit-text-stroke:2px rgb(0, 0, 0);
  
}

  .info {

    font-size: 65%;
    width:50%;
 }

 .maincontent{
 
  display: flex;
  flex-direction: column;
  align-items: center;
 
}

    
    /*Alinear input con labels*/
   div.settings {
      display:grid;
      grid-template-columns: max-content max-content;
      grid-gap:55px;
      margin-top: 10%;
    
      
  }
  div.settings label       { text-align:right; }
  div.settings label:after { content: ":"; }
   
  .input{

    background: transparent;
    border: none;
    border-bottom: 1px solid #000000;
    outline:none;
    color: #858181;
    border-color: #d8d2d2;
    border-width: 2px;
  }

  .settings label{

    color: #858181;
  }
  
  .buttons{

    margin-top: 100px;
    display: flex;
    flex-direction: row;
    
  }

  .cancel{

    border-radius: 8px;
    border: 20px;
    font-weight: bold;
    width: 100px;
    height: 50px;
    color: rgb(201, 194, 194);
    background-color: #ffffff;
    border-color: #d8d2d2;
    border-width: 3px;
    border-style: solid;
    
  }

  .filter{

    border-radius: 8px;
    border: 20px;
    background: -webkit-linear-gradient(
        45deg,
        #46c474 5%,
        #45d581 20%,
        #1198e1 91%
        
      );
      color: #ffffff;
    
      font-weight: bold;
      width: 100px;
      height: 50px;

    margin-left: 40px;
  }

  .filter:hover{

    border-radius: 8px;
    border: 20px;
    background: -webkit-linear-gradient(
        100deg,
        #46c474 5%,
        #45d581 20%,
        #1198e1 91%
        
      );
      color: #ffffff;
    
      font-weight: bold;

      width: 100px;
      height: 50px;
     

}

.cancel:hover{

  border-color: #a5a3a3;
}
.filtersT{

  display: flex;
  flex-direction: row;
  
}
.filtersT i{

  font-size: 40px;
  margin-left: 10px;
}
.filtersT h1{

  font-weight:bold;
}
.sicon{

  margin-left: 20px;
}

.selectC{
  background-color: #ffffff;
  color: #858181;
  border-color: #d8d2d2;
  border-width: 2px;
  border-style: solid;
  border-radius: 10px;
}

 .detaildiv button{

  width: 90%;
  height: 40%;
  font-size: 70%;
  color: #1a73e7;
  font-weight: bold;
 
}

 .detaildiv{

  width: 60%;
  
  
 }
 #par{

  background-color: #45d581;
 }

 #detailContainer{

  width: 70%;
  height:200px;
 }

 .popover{

  background-color: rgb(255, 255, 255);
 box-shadow: 0px 0px 15px 2px #dadada;
 border: 2px;
 border-radius: 20px;
 }
 .popover title{

  
  background-color: #ffffff;
 }

 .popover-header{
  border-radius: 20px;
   background-color: #ffffff;
   border: none;
 }
 .popover-arrow{
   
  border-radius: 20px;
 
 }



